<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome KANRI</title>
</head>
<body>
  <h3>Hello </h3>
  <p>Here is your verifying code: </p>
  <div style="align-items: center;"><h1>{{code}}</h1></div>
</body>
</html>